/**
 * Apply border box property to all elements
 * Easier to calculate sizes
 * https://css-tricks.com/box-sizing/
*/
*{
  box-sizing: border-box;
}

/**
 * html element takes full viewports width.
 * Useful to SPAs
 * html itself is a `position` element allows us to
 * position other elments
 */
html{
  height: 100%;
  overflow: auto;
}


/**
* By default takes the full screen space
* Overflow
*/
body{
  min-height: 100%;
  position: relative;
  line-height: 1.6em;
}

/**
 * Fallback styles, can be overridden by component styles
 */
html,body{
  padding: 0;
  margin: 0;
  width: 100%;

  /* fallback style */
  background-color: #fff;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size:14px;
}


/**
 * Appshell
 */
.app-container {
  height: 100vh;
}
  .app-header {
    height: 56px;
    padding: 16px 16px 0px 16px;
    background: #303F9F;
    color: white;
  }

	.app-header-title {
		font-size: 18px;

	}
		
    .app-header-menu, .app-header-title{
    }
    .app-header-profile{

    }

  .app-main {
    overflow-y: auto;

  }

  .app-footer {
    padding: 16px 8px;
  }

.main {
	padding: 16px;
}

.input {
  border: 1px solid #C5CAE9;
  padding: 4px 8px 4px 8px;
  height: 36px;
  width: 100px;
}

.board-container {
}
.board-form {
   text-align: right;
}

.board-form .input {
  width: 200px;
}
.board-list {
  display: flex; 
  flex-wrap: wrap;

}

.btn {
  font-weight: bold;
  text-transform: uppercase;
}
.btn--contained{
	background:#3F51B5;
  color: white;

}
.btn--outline {
  background:white;
  color: #3F51B5;
  border: 1px solid;
  
}

.gutter-8 {
 margin-right: 8px;
}

.div-32 {
	margin-bottom: 32px;
}



.list-container {
	margin-right: 32px;
	min-height: 320px;
	margin-bottom: 32px;
	padding: 8px;
	border: 1px solid #bdbdbd;
  max-width: 320px;

}
.list-header {
  
}
.list-header h4{
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #1A237E;
  border-bottom: 1px solid currentColor;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.card-form {
	display: flex;

}

.card-container {
}

.card {
  display: flex;
  padding: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
0 1px 1px 0 rgba(0,0,0,.14),
0 2px 1px -1px rgba(0,0,0,.12);
}

.card-header {
  margin-right: 16px;
  padding: 0px 8px;
  width: 108px;
  border-right: 1px solid #9E9E9E;
}
  .card-header h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
  }
.card-options {
  display: flex;
  justify-content: space-between;
  color: #3F51B5;
}
  .card-options button {
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #757575;
  }
  .card-options button:hover {
    color: #3F51B5;
  }
.card-main {
  flex: 1
}
.card-main h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}




